---
permalink: /progress/
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Workout Logs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{site.url}}/{{site.baseurl}}/css/style.css">
  </head>

  <style>
  .swiper-slide {
    background: linear-gradient(0deg, rgba(255,255,255,.2),rgba(255,255,255,.2));
  }
  </style>

  <body>
    <nav class="nav">
      <div class="burger">
        <div class="burger__hpatty"></div>
      </div>

      <ul class="nav__hlist">
        <li class="nav__item">
          <a href="{{site.url}}/{{site.baseurl}}" class="nav__link c-yellow"><i class="fa fa-home"></i></a>
        </li>
        <li class="nav__item">
          <a href="{{site.url}}/{{site.baseurl}}/previous-logs" class="nav__link c-red"><i class="fa fa-archive"></i></a>
        </li>
      </ul>
    </nav>

    {% assign year = site.time | date: '%Y' %}
    {% assign month = site.time | date: '%-m' %}
    {% assign today = site.time | date: '%-d' %}
    {% assign monthind = site.time | date: '%-m' | minus: 2 %}
    {% assign prevmonthdays = site.daysinmonths[monthind] %}
    {% assign prev1 = today | minus: 1 %}
    {% assign month1 = month %}
    {% if today == '1' %}
      {% assign prev1 = prevmonthdays %}
      {% assign month1 = month1 | minus: 1 %}
    {% endif %}
    {% assign prev2 = prev1 | minus: 1 %}
    {% assign month2 = month1 %}
    {% if today == '2' %}
      {% assign prev2 = prevmonthdays %}
      {% assign month2 = month2 | minus: 1 %}
    {% endif %}
    {% assign prev3 = prev2 | minus: 1 %}
    {% assign month3 = month2 %}
    {% if today == '3' %}
      {% assign prev3 = prevmonthdays %}
      {% assign month3 = month3 | minus: 1 %}
    {% endif %}
    {% assign prev4 = prev3 | minus: 1 %}
    {% assign month4 = month3 %}
    {% if today == '4' %}
      {% assign prev4 = prevmonthdays %}
      {% assign month4 = month4 | minus: 1 %}
    {% endif %}
    {% assign prev5 = prev4 | minus: 1 %}
    {% assign month5 = month4 %}
    {% if today == '5' %}
      {% assign prev5 = prevmonthdays %}
      {% assign month5 = month5 | minus: 1 %}
    {% endif %}
    {% assign prev6 = prev5 | minus: 1 %}
    {% assign month6 = month5 %}
    {% if today == '6' %}
      {% assign prev6 = prevmonthdays %}
      {% assign month6 = month6 | minus: 1 %}
    {% endif %}
    <section class="swiper-panel b-yellow" id="1">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            {% include logs/{{ year }}/{{ month6 }}/{{ prev6 }}.html %}
          </div>
          <div class="swiper-slide">
            {% include logs/{{ year }}/{{ month5 }}/{{ prev5 }}.html %}
          </div>
          <div class="swiper-slide">
            {% include logs/{{ year }}/{{ month4 }}/{{ prev4 }}.html %}
          </div>
          <div class="swiper-slide">
            {% include logs/{{ year }}/{{ month3 }}/{{ prev3 }}.html %}
          </div>
          <div class="swiper-slide">
            {% include logs/{{ year }}/{{ month2 }}/{{ prev2 }}.html %}
          </div>
          <div class="swiper-slide">
            {% include logs/{{ year }}/{{ month1 }}/{{ prev1 }}.html %}
          </div>
          <div class="swiper-slide">
            {% include logs/{{ year }}/{{ month }}/{{ today }}.html %}
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
    <script>
    var swiper = new Swiper('.swiper-container', {
      initialSlide: 6,
      pagination: '.swiper-pagination',
      paginationClickable: true,
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      spaceBetween: 30
    });
    </script>
    <script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>
    <script src="{{site.url}}/{{site.baseurl}}/js/page.js"></script>
  </body>

</html>
