<h1> Day 1 </h1>
<h2> Heavy Upper Body </h2>
<table class="regime-table">
  <tr>
    <th> Exercise </th> <th> Sets </th> <th> Reps </th>
  </tr>
  <tr>
    <td> Barbell Bench Press </td>
    <td> 6 </td>
    <td> 3 </td>
  </tr>
  <tr>
    <td> T-bar Row </td>
    <td> 6 </td>
    <td> 3 </td>
  </tr>
  <tr>
    <td> Standing Barbell Shoulder Press </td>
    <td> 5 </td>
    <td> 5 </td>
  </tr>
  <tr>
    <td> Pull-Up </td>
    <td> 5 </td>
    <td> 5 </td>
  </tr>
  <tr>
    <td> Skullcrusher </td>
    <td> 3 </td>
    <td> 5 </td>
  </tr>
  <tr>
    <td> Barbell Curl </td>
    <td> 3 </td>
    <td> 5 </td>
  </tr>
</table>
