<h1> Day 2 </h1>
<h2> Light Lower Body </h2>
<table class="regime-table">
  <tr>
    <th> Exercise </th> <th> Sets </th> <th> Reps </th>
  </tr>
  <tr>
    <td> Unilateral Leg Press </td>
    <td> 3 </td>
    <td> 25 / 20 / 15 </td>
  </tr>
  <tr>
    <td> Dumbbell Stiff leg Deadlift </td>
    <td> 3 </td>
    <td> 12-15 </td>
  </tr>
  <tr>
    <td> Barbell Walking Lunge </td>
    <td> 2 </td>
    <td> 30 (15 each leg) </td>
  </tr>
  <tr>
    <td> Seated Calf Raise </td>
    <td> 3 </td>
    <td> 20 </td>
  </tr>
  <tr>
    <td> Crunch </td>
    <td> 3 </td>
    <td> Failure </td>
  </tr>
</table>
