<h1> Day 4 </h1>
<h2> Light Upper Body </h2>
<table class="regime-table">
  <tr>
    <th> Exercise </th> <th> Sets </th> <th> Reps </th>
  </tr>
  <tr>
    <td> Decline Dumbbell Bench Press </td>
    <td> 3 </td>
    <td> 15 / 12 / 20 </td>
  </tr>
  <tr>
    <td> Dumbbell Row (Both hands) </td>
    <td> 3 </td>
    <td> 15 / 12 / 20 </td>
  </tr>
  <tr>
    <td> Dumbbell Lateral Raise </td>
    <td> 3 </td>
    <td> 15 </td>
  </tr>
  <tr>
    <td> Pulldown to the Front </td>
    <td> 3 </td>
    <td> 15 </td>
  </tr>
  <tr>
    <td> Overhead Unilateral Dumbbell Extension </td>
    <td> 2 </td>
    <td> 15 </td>
  </tr>
  <tr>
    <td> Preacher Curl </td>
    <td> 2 </td>
    <td> 15 </td>
  </tr>
</table>
