<h1> Day 5 </h1>
<h2> Heavy Lower Body </h2>
<table class="regime-table">
  <tr>
    <th> Exercise </th> <th> Sets </th> <th> Reps </th>
  </tr>
  <tr>
    <td> Barbell Squat </td>
    <td> 6 </td>
    <td> 4 </td>
  </tr>
  <tr>
    <td> Deadlift </td>
    <td> 4 </td>
    <td> 8 / 6 / 4 / 2 </td>
  </tr>
  <tr>
    <td> Lying Leg Curl </td>
    <td> 3 </td>
    <td> 6 </td>
  </tr>
  <tr>
    <td> Standing Calf Raise </td>
    <td> 5 </td>
    <td> 5 </td>
  </tr>
  <tr>
    <td> Hanging Leg Raise </td>
    <td> 3 </td>
    <td> 8 </td>
  </tr>
</table>
