<h1> Day 1 </h1>
<h2> Push A (Chest, Shoulders & Triceps) </h2>
<table class="regime-table">
  <tr>
    <th> Exercise </th> <th> Sets </th> <th> Rep Goal Total </th>
    <th> Rest </th>
  </tr>
  <tr>
    <td> Flat Barbell Bench Press </td>
    <td> 5 </td>
    <td> 15 </td>
    <td> 90-120 sec </td>
  </tr>
  <tr>
    <td> Flat Barbell Bench Press (20% less weight than previous WS) </td>
    <td> 1 </td>
    <td> AMQRAP </td>
    <td> N/A </td>
  </tr>
  <tr>
    <td> Seated Behind the Neck Press </td>
    <td> 3 </td>
    <td> 25 </td>
    <td> 60 sec </td>
  </tr>
  <tr>
    <td> Tricep Dips </td>
    <td> 3 </td>
    <td> 30 </td>
    <td> 60 sec </td>
  </tr>
  <tr>
    <td> Standing Cable Crossovers </td>
    <td> 5 </td>
    <td> 50 </td>
    <td> 30 sec </td>
  </tr>
  <tr>
    <td> Seated Tricep Extensions (Dumbbell, Rope or EZ bar) </td>
    <td> 5 </td>
    <td> 50 </td>
    <td> 30 sec </td>
  </tr>
  <tr>
    <td> Seated Dumbbell Lateral Raises </td>
    <td> 5 </td>
    <td> 50 </td>
    <td> 15 sec </td>
  </tr>
</table>
