<h1> Day 2 </h1>
<h2> Pull A (Back, Traps & Biceps) </h2>
<table class="regime-table">
  <tr>
    <th> Exercise </th> <th> Sets </th> <th> Rep Goal Total </th>
    <th> Rest </th>
  </tr>
  <tr>
    <td> Barbell Conventional Deadlift </td>
    <td> 5 </td>
    <td> 15 </td>
    <td> 90-120 sec </td>
  </tr>
  <tr>
    <td> Barbell Conventional Deadlift (20% less weight than previous WS) </td>
    <td> 1 </td>
    <td> AMQRAP </td>
    <td> N/A </td>
  </tr>
  <tr>
    <td> Chin-ups </td>
    <td> 3 </td>
    <td> 25 </td>
    <td> 60 sec </td>
  </tr>
  <tr>
    <td> Chest Supported Rows </td>
    <td> 3 </td>
    <td> 30 </td>
    <td> 60 sec </td>
  </tr>
  <tr>
    <td> Shrugs (Dumbbell, Barbell or Trap Bar) </td>
    <td> 5 </td>
    <td> 50 </td>
    <td> 30 sec </td>
  </tr>
  <tr>
    <td> Standing Barbell Curls </td>
    <td> 5 </td>
    <td> 50 </td>
    <td> 30 sec </td>
  </tr>
  <tr>
    <td> Standing Cable Reverse Fly </td>
    <td> 5 </td>
    <td> 50 </td>
    <td> 15 sec </td>
  </tr>
</table>
