<h1> Day 3 </h1>
<h2> Legs A (Quads, Hamstrings & Calves) </h2>
<table class="regime-table">
  <tr>
    <th> Exercise </th> <th> Sets </th> <th> Rep Goal Total </th>
    <th> Rest </th>
  </tr>
  <tr>
    <td> Barbell Back Squat </td>
    <td> 5 </td>
    <td> 15 </td>
    <td> 90-120 sec </td>
  </tr>
  <tr>
    <td> Barbell Back Squat (20% less weight than previous WS) </td>
    <td> 1 </td>
    <td> AMQRAP </td>
    <td> N/A </td>
  </tr>
  <tr>
    <td> Barbell Good Mornings </td>
    <td> 3 </td>
    <td> 25 </td>
    <td> 60 sec </td>
  </tr>
  <tr>
    <td> Leg Press </td>
    <td> 3 </td>
    <td> 30 </td>
    <td> 60 sec </td>
  </tr>
  <tr>
    <td> Reverse Hyperextension </td>
    <td> 5 </td>
    <td> 50 </td>
    <td> 30 sec </td>
  </tr>
  <tr>
    <td> Leg Curl (Seated or Lying) </td>
    <td> 5 </td>
    <td> 50 </td>
    <td> 30 sec </td>
  </tr>
  <tr>
    <td> Calf Raise (Seated or Standing) </td>
    <td> 5 </td>
    <td> 50 </td>
    <td> 15 sec </td>
  </tr>
</table>
