<h1> Day 4 </h1>
<h2> Push B (Chest, Shoulders & Triceps) </h2>
<table class="regime-table">
  <tr>
    <th> Exercise </th> <th> Sets </th> <th> Rep Goal Total </th>
    <th> Rest </th>
  </tr>
  <tr>
    <td> Standing Overhead Press </td>
    <td> 5 </td>
    <td> 15 </td>
    <td> 90-120 sec </td>
  </tr>
  <tr>
    <td> Standing Overhead Press (20% less weight than previous WS) </td>
    <td> 1 </td>
    <td> AMQRAP </td>
    <td> N/A </td>
  </tr>
  <tr>
    <td> Incline Bench Press (Dumbbell or Barbell) </td>
    <td> 3 </td>
    <td> 25 </td>
    <td> 60 sec </td>
  </tr>
  <tr>
    <td> Close Grip Bench Press </td>
    <td> 3 </td>
    <td> 30 </td>
    <td> 60 sec </td>
  </tr>
  <tr>
    <td> Seated Machine Fly </td>
    <td> 5 </td>
    <td> 50 </td>
    <td> 30 sec </td>
  </tr>
  <tr>
    <td> Standing Tricep Pushdown (Rope, V-bar or Straight bar) </td>
    <td> 5 </td>
    <td> 50 </td>
    <td> 30 sec </td>
  </tr>
  <tr>
    <td> Standing Cable Lateral Raises </td>
    <td> 5 </td>
    <td> 50 </td>
    <td> 15 sec </td>
  </tr>
</table>
