<h1> Day 5 </h1>
<h2> Pull B (Back, Traps & Biceps) </h2>
<table class="regime-table">
  <tr>
    <th> Exercise </th> <th> Sets </th> <th> Rep Goal Total </th>
    <th> Rest </th>
  </tr>
  <tr>
    <td> Barbell Snatch Grip Deadlift </td>
    <td> 5 </td>
    <td> 15 </td>
    <td> 90-120 sec </td>
  </tr>
  <tr>
    <td> Barbell Snatch Grip Deadlift (20% less weight than previous WS) </td>
    <td> 1 </td>
    <td> AMQRAP </td>
    <td> N/A </td>
  </tr>
  <tr>
    <td> Barbell Rows </td>
    <td> 3 </td>
    <td> 25 </td>
    <td> 60 sec </td>
  </tr>
  <tr>
    <td> Pull-ups </td>
    <td> 3 </td>
    <td> 30 </td>
    <td> 60 sec </td>
  </tr>
  <tr>
    <td> 1-arm Rows </td>
    <td> 5 </td>
    <td> 50 </td>
    <td> 30 sec </td>
  </tr>
  <tr>
    <td> Incline Dumbbell Curl </td>
    <td> 5 </td>
    <td> 50 </td>
    <td> 30 sec </td>
  </tr>
  <tr>
    <td> Seated Machine Reverse Fly </td>
    <td> 5 </td>
    <td> 50 </td>
    <td> 15 sec </td>
  </tr>
</table>
